#selectedValues-list .selected-value {
    display: inline-block;
    padding: 1px 2px;
    margin: 2px 3px 2px 0;
    border: 1px solid #e6e6e6;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
}

#selectedValues-list .icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    overflow: hidden;
    vertical-align: middle;
}
